* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;

}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #253858;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #42526E;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	display: block;
	margin: 0 auto;
	max-width:1200px;
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}

/* header and spotlight section  */

header {
	height: 70px;
	background: #fff;
	padding: 6 0;
	position: fixed;
	width: 100%;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
	z-index: 3;
}
section.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
header div.left{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
header div.left h1{
	width: 200px;
	display: inline-block;
}
header div.left h1 a{
	display: block;
}
header div.left h1 a img{
	display: inline-block;
	width: 100%;
}
header div.left ul{
	display: flex;
	align-items: center;
	height: 100%;
}
header div.left ul li{
	margin-right: 24px;
	
}
header div.left ul li:last-child{
	margin-right: 0;
}
header div.left ul li a{
	color: #0052cc;
	font-weight: 500;
	padding: 5px 10px;
	font-size: 18px;
}
header nav.right {
}
header nav.right ul{
	display: flex;
	align-items: center;
}
header nav.right ul li{
	margin-right: 24px;
}
header nav.right ul li:last-child{
	margin-right: 0;
}
header nav.right ul li a{
	color: #0052cc;
	font-weight: 500;
	padding: 6px 8px;
	font-size: 18px;
}
header nav.right ul li a.button{
	border: 1px solid #0052cc;
	border-radius:5px;
}
header nav.right ul li a.button:hover{
	background:#0052cc;
	color: #fff;
	transition: .5s;
}

/* spotlight section  */
#spotlight{
	padding: 100px 0 30px;
	background: #f4f5f7;
	padding-bottom: 130px;
}
#spotlight section.wrapper{

}
#spotlight section.container{
	width: 80%;
	display: block;
	text-align: center;
	margin: 0 auto;
}
#spotlight section.container h1{
	font-weight: 600;
	font-size: 46px;
	margin-bottom: 30px;
}
#spotlight section.container p{
	font-size: 1.25rem;
    letter-spacing: .3px;
    line-height: 1.4;
	margin-bottom: 24px;
}
#spotlight section.container a.button{
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 24px;
	background: #0052cc;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
}
#spotlight section.container span.label{
	display: block;
	letter-spacing: .5px;
	margin-bottom: 15px;
}
#spotlight section.container span.label a {
	color: #0052cc;
}
#spotlight section.container img.spotlight-image{
	display: block;
	width: 100%;
}

/* feature section  */

#features{
	padding-bottom: 100px;
}
#features img{
	transform: rotate(-180deg);
	margin-top: -2px;
}
#features section.wrapper{
	margin-top: 50px;
}
#features ul{
	width: 100%;
	display: flex;
}
#features ul li{
	width: 32%;
	text-align: center;
}
#features ul li img{
	display: inline-block;
	height: 140px;
	margin-bottom: 30px;
}
#features ul li h3{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}
#features ul li p{
	width: 90%;
	display: block;
	margin: 0 auto;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .4px;
}
#features ul li p a{
	color: #0052cc;
	text-decoration:underline;
}
#features ul li p a:hover{
	text-decoration:none;
}

/* highlights section  */

#hoghlights{
	margin-top: 80px;
}
#highlights .wrapper{
	display: block;
}
#highlights section.item{
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}
#highlights section.item div.image-container{
	width: 65%;
}
#highlights section.item div.image-container img{
	width: 100%;
	display: block;
}
#highlights section.item div.content-box{
	width: 33%;
	padding-top: 30px;
}
#highlights section.item div.content-box span.label{
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 16px;
	font-weight: 500;
}
#highlights section.item div.content-box h3{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 24px;
	text-transform: uppercase;
}
#highlights section.item div.content-box p{
	font-size: 20px;
	margin-bottom: 24px;
}
#highlights section.item div.content-box  a.btn{
	font-size: 16px;
	color: #0052cc;
	font-weight: 500;
}
#highlights section.item div.content-box  a.btn img{
	display: inline-block;
}

/* Resources section  */

#resources {
	background: #f4f5f7;
	padding: 60px 0 0;
	display: block;
}
#resources .wrapper {
	display: block;
}
#resources section.top{
	text-align: center;
	margin: 0 auto;
}
#resources section.top h3{
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 16px;
}
#resources section.top p{
	font-size: 20px;
	margin-bottom: 24px;
}
#resources section.top ul{
	display: flex;
	justify-content: space-between;
	margin: 30px auto 0;
	width: 75%;
}
#resources section.top ul li{
	width: 48%;
	padding: 45px;
	text-align: left;
	background: #fff;
	display: block;
	border-radius: 3px;
}
#resources section.top ul li img.image-top{
	height: 100px;
	display: inline-block;
	margin-bottom: 16px;
}
#resources section.top ul li h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 24px;
}
#resources section.top ul li p{
	font-size: 16px;
	letter-spacing: .5px;
	margin-bottom: 24px;

}
#resources section.top ul li a.btn{
	color: #0052cc;
}

/* resources bottom section  */

#resources section.bottom{
	text-align: center;
	padding: 60px 0 50px;
}
#resources section.bottom h3{
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 16px;
}
#resources section.bottom p{
	font-size: 20px;
	margin-bottom: 24px;
}
#resources section.bottom ul{
	display: flex;
	justify-content: space-between;
}
#resources section.bottom ul li{
	padding: 45px;
	text-align: left;
	display: block;
	border-radius: 3px;
	width: 1fr;
}
#resources section.bottom ul li img{
	display: inline-block;
	height: 90px;
	margin-bottom: 16px;
}
#resources section.bottom ul li h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 16px;
}
#resources section.bottom ul li p{
	font-size: 20px;
	margin-bottom: 24px;
}
#resources section.bottom ul li a.btn{
	color: #0052cc;
}
#resources section.bottom ul li a.btn img{
	height: auto;
	display: inline-block;
	margin-bottom: 0;
}

/* brands section  */
#brands{
	padding:0;
}
#brands img.curve{
	transform: rotate(-180deg);
	margin-top: -2px;
}
#brands section.container{
	margin-top: 60px;
	border-bottom: 2px solid #dbdbdb;
	padding-bottom: 60px;
	text-align: center;
}
#brands section.container h3{
	display: block;
	font-size: 40px;
	font-weight: 600;
	width: 60%;
	margin: 0 auto 20px;
}
#brands section.container img{
	max-width: 100%;
	display: inline-block;
}

/* pricing section  */


#pricing {
	padding: 60px 0;
}
#pricing section.wrapper{
	display: block;
}
#pricing section.top{
	
}
#pricing section.top h3{
	font-size: 36px;
	font-weight: 600;
	width: 50%;
	margin: 0 auto 25px;
	background: #fff;
	text-align: center;

}
#pricing section.top ul{
	display: flex;
	justify-content: space-between;
}
#pricing section.top ul li{
	box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
	width: 32%;
	background: #fff;
	text-align: center;
}

#pricing section.top ul li div.title{
	padding: 24px 12px;
	border-bottom: 2px solid #f4f5f7;
}

#pricing section.top ul li div.bg{
	background: #f4f5f7;
}

#pricing section.top ul li div.title h5{
	font-size: 24px;
	font-weight: 600;
}
#pricing section.top ul li div.content{
	padding: 40px 0;
}
#pricing section.top ul li div.content h4{
	font-size: 44px;
	font-weight: 700;
	margin-bottom: 14px;
}
#pricing section.top ul li div.content span.user{
	display: block;
	font-size: 20px;
	margin-bottom: 14px;
}
#pricing section.top ul li div.content small{
	display: block;
	font-size: 14px;
	margin-bottom: 32px;
}
#pricing section.top ul li div.content a.btn{
	display: inline-block;
	padding: 12px 24px;
	color: #0052cc;
	border: 1px solid #0052cc;
	border-radius: 5px;
	margin-bottom: 24px;
}

#pricing section.top ul li div.content a.fill{
	background: #0052cc;
	color: #fff;
}

#pricing section.top ul li div.content span.label{
	display: block;
	font-size: 14px;
	font-weight: 500;
}
#pricing section.top div.bottom{
	padding: 24px;
	margin-top: 24px;
	text-align: center;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
}
#pricing section.top div.bottom p{
	font-size: 16px;
	letter-spacing: .5px;
	font-weight: 400;
}
#pricing section.top div.bottom p b{
	font-size: 16px;
	font-weight: 700;
	margin-right: 15px;
}
#pricing section.top div.bottom p a{
	color: #0052cc;
	font-weight: 500;
}
#pricing section.top div.bottom p a:hover{
	text-decoration: underline;
}

#pricing section.bottom{
	padding: 30px 0;
	text-align: center;
}
#pricing section.bottom a.label{
	font-weight: 500;
	color: #0052cc;
	display: block;
	font-size: 16px;
}
#pricing section.bottom div.content{
	margin: 90px auto 0;
	padding: 50px;
	background: #f4f5f7;
	width: 90%;
}
#pricing section.bottom div.content div.item{
	display: flex;
	justify-content: space-between;
	text-align: left;
	padding: 24px;
}
#pricing section.bottom div.content div.item div.left{
	width: 100px;
}
#pricing section.bottom div.content div.item div.left img{
	width: 100%;
	display: inline-block;
}
#pricing section.bottom div.content div.item div.right{
	width: calc(100% -160px);
	display: block;
	padding: 0 60px;
}
#pricing section.bottom div.content div.item div.right h3{
	font-size: 36px;
	margin-bottom: 24px;
	font-weight: 600;
}
#pricing section.bottom div.content div.item div.right p{
	font-size: 18px;
	letter-spacing: .5px;
	display: block;
	margin-bottom: 24px;
}
#pricing section.bottom div.content div.item div.right a.btn{
	font-weight: 500;
	color: #0052cc;
}

/* banner section  */

#banner{
	min-height: 300px;
	background-image: url("../images/left_bottom_hero.png") , url("../images/right_bottom_hero.png");
	background-repeat: no-repeat , no-repeat;
	background-position: bottom left,bottom right ;
	background-size: 600px 300px , 600px 300px;
	padding: 60px 0;
	text-align: center;
}
#banner section.wrapper{
	display: block;
}
#banner h3{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 36px;
}
#banner a.btn{
	color: #fff;
	background: #0052cc;
	padding: 12px 24px;
	border: 1px solid #0052cc;
	border-radius: 5px;
}

/* footer section  */

footer{
	background: #f4f5f7;
	padding: 40px 0 20px;
}
footer section.wrapper{
	display: block;
}
footer section.top{
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
	border-bottom: 1px solid #dbdbdb;
}
footer section.top div.item{
	width: 23%;
}
footer section.top div.item h3{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 24px;
}
footer section.top div.item ul{
}
footer section.top div.item ul li{
	margin-bottom: 7px;
}
footer section.top div.item ul li a{
	font-size: 14px;
	font-weight: 300;
	letter-spacing: .8px;
	margin-bottom: 24px;
}
footer section.top div.item.large{
	width: 50%;
}
footer section.top div.item.large p{
	font-size: 16px;
	margin-bottom: 24px;
	font-weight: 400;
}
footer section.top div.item.large form{
	display: flex;
}
footer section.top div.item form input[type="email"]{
	width: 100%;
	margin-right: 24px;
	padding: 12px 24px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #c1c7d0;
	font-size: 16px;
}
footer section.top div.item.large form input[type="submit"]{
	font-size: 16px;
	cursor: pointer;
	color: #0052cc;
	border: 1px solid #0052cc;
	padding: 12px 16px;
	border-radius: 4px;
}
footer section.top div.item.large div.social{
	display: flex;
	padding-top: 24px ;
	justify-content: flex-end;
	align-items: center;
}
footer section.top div.item.large div.social p{
	margin-right: 24px;
	font-size: 16px;
}
footer section.top div.item.large div.social ul{
	display: flex;
}
footer section.top div.item.large div.social ul li{
	margin-right: 8px;
}
footer section.top div.item.large div.social ul li a{
	display: block;
	width: 32px;
}
footer section.top div.item.large div.social ul li a img{
	width: 100%;
	display: block;
}



footer section.bottom{
	display: flex;
	justify-content: space-between;
	padding: 24px 0 0;
	/* align-items: center; */
}
footer section.bottom div.left{}
footer section.bottom div.left div.top{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
footer section.bottom div.left div.top h1.left{
	width: 120px;
	margin-right: 24px;
}
footer section.bottom div.left div.top h1.left a{
	width: 100%;display: block;
}
footer section.bottom div.left div.top h1.left a img{
	width: 100%;display: block;
}
footer section.bottom div.left div.top ul{
	display: flex;
	justify-content: space-between;
}
footer section.bottom div.left div.top ul li{
	margin-right: 24px;
}
footer section.bottom div.left div.top ul li a{
	font-weight: 300;
	font-size: 16px;
}
footer section.bottom div.left div.top p{
	font-weight: 300;
}
footer section.bottom div.left div.bottom{}
footer section.bottom div.left div.bottom form{
	margin-top: 24px;
	font-weight: 300;
	color: #dbdbdb;
}
footer section.bottom div.left div.bottom form select{}
footer section.bottom div.right{}
footer section.bottom div.right a.btn{
	font-size: 16px;
	color: #0052cc;
}
footer section.bottom div.right a.btn:hover{
	text-decoration: underline;
}